target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/architecture.html
!target/site/jacoco/index.html

### Settings ###
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

### IDE ###
.idea
.classpath
.project
.settings
*.launch
*.factorypath
.buildpath
*.iml

### LOGS ###
*.log
